! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2f343f, argb:0000000, argb:0000000
rofi.color-normal: #2f343f, #f3f4f5, #2f343f, #2f343f, #3c9f9d
rofi.color-active: #2f343f, #f3f4f5, #2f343f, #2f343f, #3c9f9d
rofi.color-urgent: #2f343f, #984e4c, #2f343f, #2f343f, #dc322f

! ------------------------------------------------------------------------------
! Rofi Window
! ------------------------------------------------------------------------------
rofi.fullscreen: true
rofi.width: 100
rofi.height: 100
rofi.padding: 200

! ------------------------------------------------------------------------------
! Rofi List Style
! ------------------------------------------------------------------------------
rofi.lines: 10
rofi.line-margin: 8
rofi.columns: 1
rofi.eh: 1
rofi.scroll-method: 1

! ------------------------------------------------------------------------------
! Rofi Border Style
! ------------------------------------------------------------------------------
rofi.bw: 0
