# ------------------------------------------------------------------------------
# Make i3 Plasma friendly
# ------------------------------------------------------------------------------
exec --no-startup-id wmctrl -c Plasma
for_window [title="Desktop — Plasma"] kill; floating enable; border none
force_display_urgency_hint 0 ms
focus_on_window_activation urgent

# ------------------------------------------------------------------------------
# Startup Commands
# ------------------------------------------------------------------------------
exec --no-startup-id ksuperkey

# ------------------------------------------------------------------------------
# KDE Plasma Config
# ------------------------------------------------------------------------------
for_window [title="Desktop Plasma"] kill
for_window [title="Área de Trabalho Plasma"] kill
for_window [title="plasma-desktop"] floating enable, border none
for_window [title="win7"] floating enable, border none
for_window [class="plasmashell"] floating enable
for_window [class="Klipper"] floating enable, border none
for_window [class="Kmix"] floating enable, border none
for_window [class="Plasmoidviewer"] floating enable, border none
for_window [class="bovo"] floating enable
for_window [class="kcalc"] floating enable
for_window [class="kcolorchooser"] floating enable
for_window [class="klines"] floating enable
for_window [class="Knights"] floating enable
for_window [class="kruler"] floating enable
for_window [class="krunner"] floating enable, border none
for_window [class="ksysguard"] floating enable
for_window [class="yakuake"] floating enable
#
for_window [window_role="About"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
#
no_focus [class=plasmashell”]
no_focus [window_role="pop-up"]
no_focus [window_type="notification"] 